%section#contact
  .container.inner
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h1= t('views.contact.contact_us')
          %p= t('views.contact.contact_us_text')
          %ul
            = t("views.contact.contact_us_list").html_safe
    .row
      .col-sm-12
        .row
          .col-sm-6.outer-top-md.inner-right-sm.border-right
            %figure
              = image_tag 'pages/contact/euref.jpg'
          .col-sm-6.outer-top-md.inner-left-sm
            %h3= t('service')
            %table.icon-list-table
              %tr
                %th.table-icon-cell
                  .icon-location
                %th= t('innoz') + '-' + t('innoz_address')
              %tr
                %th.table-icon-cell
                  .icon-mobile
                %th +49 (0)30 23 88 84 - 108
              %tr
                %th.table-icon-cell
                  .icon-mail-1
                %th= mail_to 'info@innoz.de'

%section#contact-map.height-sm
