%section#hero
  #owl-main.owl-carousel.owl-one-item
    .item{style: "background-image: url(#{asset_path 'pages/index/monitor_heft_v1.jpg'});"}
      .container
        .caption.vertical-center.text-left
          %h1.fadeInRight-1.dark-bg.light-color
            %span
              = t('service')
            %br
          %p.fadeInRight-2.light-color
            = t('service_subtitle')

%section#introduction.light-bg
  .container.inner
    .row
      .col-xs-12
        %h1= t('welcome')
        %p= t('welcome_text')
